.confrimation-page,
.confrimation-page * {
  box-sizing: border-box;
}
.confrimation-page {
  background: #cff500;
  height: 986px;
  position: relative;
  overflow: hidden;
}
.rectangle-1 {
  background: #fff2d0;
  border-radius: 19px;
  border-style: solid;
  border-color: #000000;
  border-width: 9px;
  width: 1241px;
  height: 954px;
  position: absolute;
  left: 19px;
  top: 16px;
}
.booking-confirmation {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 48px;
  font-weight: 700;
  position: absolute;
  left: 360px;
  top: 51px;
}
.rectangle-15 {
  background: #ffffff;
  border-radius: 32px;
  width: 1097px;
  height: 767px;
  position: absolute;
  left: 91px;
  top: 149px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.movie-title-your-name-name-seats-seats-showtime-movie-showtime-total-price-movie-price-seats-your-tickets-have-been-successfully-booked {
  color: #000000;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  left: 125px;
  top: 233px;
  width: 981px;
  height: 670px;
}
.movie-title-your-name-name-seats-seats-showtime-movie-showtime-total-price-movie-price-seats-your-tickets-have-been-successfully-booked-span {
  color: #000000;
  font-family: "Inter-Bold", sans-serif;
  font-size: 36px;
  font-weight: 700;
}
.movie-title-your-name-name-seats-seats-showtime-movie-showtime-total-price-movie-price-seats-your-tickets-have-been-successfully-booked-span2 {
  color: #000000;
  font-family: "Inter-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
}
.movie-title-your-name-name-seats-seats-showtime-movie-showtime-total-price-movie-price-seats-your-tickets-have-been-successfully-booked-span3 {
  color: #000000;
  font-family: "Inter-Bold", sans-serif;
  font-size: 36px;
  font-weight: 700;
}
.movie-title-your-name-name-seats-seats-showtime-movie-showtime-total-price-movie-price-seats-your-tickets-have-been-successfully-booked-span4 {
  color: #000000;
  font-family: "Inter-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
}
.movie-title-your-name-name-seats-seats-showtime-movie-showtime-total-price-movie-price-seats-your-tickets-have-been-successfully-booked-span5 {
  color: #000000;
  font-family: "Inter-Bold", sans-serif;
  font-size: 36px;
  font-weight: 700;
}
.movie-title-your-name-name-seats-seats-showtime-movie-showtime-total-price-movie-price-seats-your-tickets-have-been-successfully-booked-span6 {
  color: #000000;
  font-family: "Inter-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
}
.movie-title-your-name-name-seats-seats-showtime-movie-showtime-total-price-movie-price-seats-your-tickets-have-been-successfully-booked-span7 {
  color: #000000;
  font-family: "Inter-Bold", sans-serif;
  font-size: 36px;
  font-weight: 700;
}
.movie-title-your-name-name-seats-seats-showtime-movie-showtime-total-price-movie-price-seats-your-tickets-have-been-successfully-booked-span8 {
  color: #000000;
  font-family: "Inter-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
}
.movie-title-your-name-name-seats-seats-showtime-movie-showtime-total-price-movie-price-seats-your-tickets-have-been-successfully-booked-span9 {
  color: #000000;
  font-family: "Inter-Bold", sans-serif;
  font-size: 36px;
  font-weight: 700;
}
.rectangle-16 {
  background: #ffffff;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 316px;
  height: 405px;
  position: absolute;
  left: 835px;
  top: 184px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.vector {
  width: 19.86%;
  height: 23.12%;
  position: absolute;
  right: 12.43%;
  left: 67.71%;
  bottom: 56.19%;
  top: 20.69%;
  overflow: visible;
}
.mdi-tick-circle-outline {
  width: 165px;
  height: 152px;
  position: absolute;
  left: 533px;
  top: 90px;
  overflow: visible;
}
.qr-ticket-movie-name-movie-title-seats-seats {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 866px;
  top: 444px;
  width: 285px;
  height: 134px;
}
