<div class="confrimation-page">
  <div class="rectangle-1"></div>
  <div class="booking-confirmation">BOOKING CONFIRMATION</div>
  <div class="rectangle-15"></div>
  <div
    class="movie-title-your-name-name-seats-seats-showtime-movie-showtime-total-price-movie-price-seats-your-tickets-have-been-successfully-booked"
  >
    <span>
      <span
        class="movie-title-your-name-name-seats-seats-showtime-movie-showtime-total-price-movie-price-seats-your-tickets-have-been-successfully-booked-span"
      >
        &lcub;&lcub; movie.title &rcub;&rcub;
        <br />
        <br />
        Your Name: 
      </span>
      <span
        class="movie-title-your-name-name-seats-seats-showtime-movie-showtime-total-price-movie-price-seats-your-tickets-have-been-successfully-booked-span2"
      >
        &lcub;&lcub; name &rcub;&rcub;
        <br />
      </span>
      <span
        class="movie-title-your-name-name-seats-seats-showtime-movie-showtime-total-price-movie-price-seats-your-tickets-have-been-successfully-booked-span3"
      >
        <br />
        Seats: 
      </span>
      <span
        class="movie-title-your-name-name-seats-seats-showtime-movie-showtime-total-price-movie-price-seats-your-tickets-have-been-successfully-booked-span4"
      >
        &lcub;&lcub; seats &rcub;&rcub;
        <br />
      </span>
      <span
        class="movie-title-your-name-name-seats-seats-showtime-movie-showtime-total-price-movie-price-seats-your-tickets-have-been-successfully-booked-span5"
      >
        <br />
        Showtime: 
      </span>
      <span
        class="movie-title-your-name-name-seats-seats-showtime-movie-showtime-total-price-movie-price-seats-your-tickets-have-been-successfully-booked-span6"
      >
        &lcub;&lcub; movie.showtime &rcub;&rcub;
        <br />
      </span>
      <span
        class="movie-title-your-name-name-seats-seats-showtime-movie-showtime-total-price-movie-price-seats-your-tickets-have-been-successfully-booked-span7"
      >
        <br />
        Total Price: 
      </span>
      <span
        class="movie-title-your-name-name-seats-seats-showtime-movie-showtime-total-price-movie-price-seats-your-tickets-have-been-successfully-booked-span8"
      >
        $&lcub;&lcub; movie.price * seats &rcub;&rcub;
        <br />
      </span>
      <span
        class="movie-title-your-name-name-seats-seats-showtime-movie-showtime-total-price-movie-price-seats-your-tickets-have-been-successfully-booked-span9"
      >
        <br />
        <br />
        <br />
        <br />
        Your tickets have been successfully booked!
      </span>
    </span>
  </div>
  <div class="rectangle-16"></div>
  <img class="vector" src="vector0.svg" />
  <img class="mdi-tick-circle-outline" src="mdi-tick-circle-outline0.svg" />
  <div class="qr-ticket-movie-name-movie-title-seats-seats">
    QR-TICKET
    <br />
    <br />
    Movie name: &lcub;&lcub;movie.title&rcub;&rcub;
    <br />
    <br />
    Seats: &lcub;&lcub;seats&rcub;&rcub;
    <br />
  </div>
</div>
