<div class="booking">
  <div class="rectangle-1"></div>
  <div class="frame-5">
    <div class="frame-10">
      <img class="ellipse-1" src="ellipse-10.svg" />
      <div class="discription">DISCRIPTION</div>
    </div>
  </div>
  <div class="name">
    <span>
      <span class="name-span">Name</span>
      <span class="name-span2">:</span>
    </span>
  </div>
  <div class="seats">Seats:</div>
  <div class="frame-6"></div>
  <div class="frame-7"></div>
  <div class="book-ticket-for-inception">BOOK TICKET FOR Inception</div>
  <div class="frame-8">
    <div class="book-now">BOOK NOW</div>
  </div>
  <img class="image-2" src="image-20.png" />
  <div class="a-mind-bending-thriller-directed-by-christopher-nolan">
    A mind-bending thriller
    <br />
    directed by
    <br />
    Christopher Nolan
  </div>
</div>
